<html>
<head>
  <meta charset="utf-8">
  <title>{{pageTitle}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Crop your pic!">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
  <!--<![endif]-->

  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

  <!--[if lte IE 8]>
    <link rel="stylesheet" href="/css/main-old-ie.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="/css/main.css">
  <!--<![endif]-->
  <link rel="stylesheet" href="/css/main.css">

  <!--[if lt IE 9]>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
  <div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
      <a class="pure-menu-heading" href="/">Crop Pic</a>
      <ul class="pure-menu-list">
        <li class="pure-menu-item{{#is currentPage "index"}} pure-menu-selected{{/is}}"><a href="/index" class="pure-menu-link">Home</a></li>
        <li class="pure-menu-item{{#is currentPage "help"}} pure-menu-selected{{/is}}"><a href="/help" class="pure-menu-link">Help</a></li>
        <li class="pure-menu-item{{#is currentPage "imprint"}} pure-menu-selected{{/is}}"><a href="/imprint" class="pure-menu-link">Imprint</a></li>
      </ul>
    </div>
  </div>
  <div class="content-wrapper">
    {{{body}}}

    <div class="footer l-box is-center">
      Made with &hearts; by <a href="https://gitlab.com/derN3rd">derN3rd</a> in Berlin
    </div>
  </div>

  <script src="/js/bundle.js"></script>
</body>
</html>
