<div class="content no-margin-bottom">
  <h2 class="content-head is-center">Not found</h2>
</div>

<div class="ribbon l-box-lrg pure-g">
  <div class="l-box-lrg is-center pure-u-1">
    <p>We did not find what you were looking for :(</p>
  </div>
</div>
