<div class="content no-margin-bottom">
  <h2 class="content-head is-center">Internal Server Error</h2>
</div>

<div class="ribbon l-box-lrg pure-g">
  <div class="l-box-lrg is-center pure-u-1">
    <p>Something went really wrong here, but we give out best to fix it fast!</p>
  </div>
</div>
