<div class="content no-margin-bottom">
  <h2 class="content-head is-center">Help</h2>
</div>

<div class="ribbon l-box-lrg pure-g">
  <div class="l-box-lrg is-center pure-u-1">
    <p>Coming Soon!</p>
  </div>
</div>
