<div class="content no-margin-bottom">
  <h2 class="content-head is-center">Choose a picture</h2>
</div>

<div class="ribbon l-box-lrg pure-g">
  <div class="l-box-lrg is-center pure-u-1">
      <img id="resultImage" alt="Profile picture" class="pure-img-responsive is-center" src="/img/default-pic.png" data-default-src="/img/default-pic.png">
      <div id="settings" style="display: none;">
        <form class="pure-form pure-form-stacked">
          <fieldset>
            <label>Blur Size</label>
            <input id="blurSize" type="range" min="6" max="100" step="2" value="8" />
          </fieldset>
        </form>
      </div>
      <div id="uploadButton">
        <div class="upload-btn-wrapper">
          <form id="uploadForm" enctype="multipart/form-data">
            <button class="pure-button">Choose picture</button>
            <input type="file" name="picture" id="pictureInput" accept="image/png,image/jpg,image/jpeg" />
          </form>
        </div>
      </div>
    
    <div class="spinner" style="display: none;">
        <i class="fa fa-spinner fa-3x fa-spin is-center" aria-hidden="true"></i>
      </div>
    <div id="resetAndDownloadButtons" style="display: none;">
      <button id="downloadButton" class="pure-button">Save picture</button>
      <br>
      <button id="resetButton" class="pure-button">Reset</button>
    </div>
  </div>
</div>
